$default-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
$default-margin-mobile: 25px 0 0;
$default-margin: 45px 0 0;
$default-green-color: #51CB44;
$default-background-color: #F6F6F6;
$white-color: #fff;
$black-color: #000;

// Screen Width
$desktopWidth:          1280px;
$smDesktopWidth:        980px;
$tableWidth:            768px;
$phoneWidth:            480px;
$smPhoneWidth:          320px;

@import 'node_modules/font-awesome/scss/font-awesome.scss';
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'menu.scss';
@import 'to-top-button.scss';

@font-face {
  font-family: 'Comfortaa-Medium';
  src : url('/fonts/Comfortaa/static/Comfortaa-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src : url('/fonts/Comfortaa/static/Comfortaa-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block; }

body {
  font-family: 'Comfortaa-Medium', cursive;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

strong, b {
  font-family: 'Comfortaa-Bold';
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2 {

  font-size: 22px;
  line-height: 36px;
  margin-bottom: 1rem;
  text-align: center;

  @media (min-width: $desktopWidth) {
    font-size: 32px;
    line-height: 56px;
    margin-bottom: 1rem;
    text-align: center;
  }

}

h3, h4 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 1rem;

  @media (min-width: $desktopWidth) {
    font-size: 18px;
    line-height: 28px;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

a {
  color: $default-green-color;
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0.5em;
}

.header {
  width: 100%;
  background-image: url('/images/home/racion.jpg');
  background-size: cover;
  background-position: center;
  height: 480px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  position: relative;

  .hamburger {
    display: inline-block;
    padding: 30px 20px 0;
    position: absolute;
    right: 0;

    &:focus{
      outline: none;
    }

    .hamburger-inner {
      background-color: $white-color;
      &:before, &:after {
        background-color: $white-color;
      }
    }

    @media (min-width: $desktopWidth) {
      display: none;
    }
  }

  &__social {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 22px 0;
    text-align: center;
    position: absolute;
    bottom: 0;

    > a {
      font-size: 18px;
      color: $white-color;
      text-decoration: none;
      margin: 0 20px;

      &:first-child {
        display: block;
        margin-bottom: 10px;

        @media (min-width: $desktopWidth) {
          display: inline-block;
          margin-bottom: 0;
        }
      }

    }
  }

  &__content {
    display: inline;

    @media (min-width: $desktopWidth) {
      padding: 50px 50px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &-logo  {
      height: 60px;
      position: absolute;
      top: 20px;
      left: 20px;

      @media (min-width: $desktopWidth) {
        height: 100px;
        position: relative;
        top: 0;
        left: 0;
      }

      &-image{
        width: 60px;

        @media (min-width: $desktopWidth) {
          width: 100px;
        }

      }
    }

    &-text {
      width: auto;
      color: $white-color;
      padding: 160px 20px 0;

      @media (min-width: $desktopWidth) {
        padding: 0 20px;
      }

      &-first {
        font-size: 36px;
        line-height: 48px;
      }

      &-second {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

}

.footer {
  background-color: $default-green-color;
  color: $white-color;
  padding: 20px;
  margin: $default-margin-mobile;
  box-shadow: $default-box-shadow;

  @media (min-width: $desktopWidth) {
    margin: $default-margin;
  }

  a {
    color: $white-color;
  }

  &__text{
    font-size: 16px;

    &-left {
      float: left;
      width: 50%;
      text-align: left;
    }

    &-right {
      float: right;
      width: 50%;
      text-align: right;

      &:after {
        clear: both;
      }
    }
  }

  &__copyright {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}

.content {

  &__fullwidth {

    max-width: 1280px;
    margin: 0 auto;

    ul {
      margin-left: 35px;
    }

    &-text {
      font-size: 16px;
      color: $black-color;
      background: $default-background-color;
      box-shadow: $default-box-shadow;
      padding: 20px;
      margin: 20px;

      @media (min-width: $desktopWidth) {
        font-size: 20px;
        text-align: justify;
        padding: 50px;
        margin: 50px;
      }

    }

    &-order {
      color: $white-color;
      text-align: center;
      background-color: $default-green-color;
      box-shadow: $default-box-shadow;
      padding: 30px 20px;
      margin: $default-margin-mobile;

      @media (min-width: $desktopWidth) {
        padding: 30px 45px;
        margin: $default-margin;
      }

      &-text{
        font-size: 24px;
        line-height: 32px;

        @media (min-width: $desktopWidth) {
          font-size: 36px;
          line-height: 48px;
        }
      }

      &-phone{
        font-size: 32px;
        line-height: 42px;
        margin-top: 20px;

        @media (min-width: $desktopWidth) {
          font-size: 36px;
          line-height: 48px;
        }

        &-link {
          text-decoration: none;
          color: $white-color;

          &:hover {
            text-decoration: none;
            color: $white-color;
          }
        }
      }
    }

    &-get-order {
      width: 100%;
      background-image: url('/images/home/bg-order.jpg');
      background-size: cover;
      background-position: left center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      min-height: 300px;
      box-shadow: $default-box-shadow;
      margin: $default-margin-mobile;

      @media (min-width: $desktopWidth) {
        margin: $default-margin;
      }

      &-text {
        color: $white-color;
        text-align: center;
        padding: 25px 20px;

        @media (min-width: $desktopWidth) {
          padding: 45px 45px;
        }

        &_big {
          font-size: 36px;
          line-height: 48px;

          @media (min-width: $desktopWidth) {
            font-size: 48px;
            line-height: 72px;
          }
        }

        &_small {
          font-size: 20px;
          line-height: 36px;
          margin-top: 30px;

          @media (min-width: $desktopWidth) {
            font-size: 26px;
            line-height: 56px;
            margin-top: 20px;
          }
        }

      }
    }
  }

  &__sample {
    padding: 0 20px;
    margin: $default-margin-mobile;

    @media (min-width: $desktopWidth) {
      padding: 0 50px;
      margin: $default-margin;
    }

    &-title {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;

      @media (min-width: $desktopWidth) {
        font-size: 36px;
        line-height: 72px;
      }
    }

    &-grid {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: auto;

      @media (min-width: $tableWidth) {
        grid-template-columns: auto auto;
      }

      @media (min-width: $desktopWidth) {
        grid-gap: 30px;
        grid-template-columns: auto auto auto;
      }
    }

    &-item {
      background: $default-background-color;
      box-shadow: $default-box-shadow;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }

      &-icon {
        color: $default-green-color;
        text-align: center;
        margin: 30px 0 0;
      }

      &-image {
        position: relative;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;

        &-text {
          color: $white-color;
          position: absolute;
          bottom: 10px;
          left: 20px;
        }
      }

      &-text {
        padding: 20px;

        @media (min-width: $desktopWidth) {
          padding: 30px;
        }
      }
    }
  }
}