nav {
  min-height: 45px;
  background: rgba(0,0,0,0.6);
  text-align: center;
  display: none;

  @media (min-width: $desktopWidth) {
    display: block;
  }

  ul {
    margin: 0;
    padding:0;
    list-style: none;
  }

  > .nav {

    vertical-align: top;

    @media (min-width: $desktopWidth) {
      display: inline-block;
    }

    a {
      display:block;
      text-decoration: none;
      padding: .8em 1.8em;
      text-transform: uppercase;
      position: relative;
    }

    li {
      position: relative;
      margin-bottom: 0

    }

    > li {
      @media (max-width: $tableWidth) {
        float: none;
      }
      float:left;
      margin-right: 1px;

      > a {
        margin-bottom:1px;
      }
    }
  }

}

.nav {

  ul {
    position: absolute;
    white-space: nowrap;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    left: -99999em;
  }

  li {

    &:hover {
      > a {
        color: $white-color;
      }
    }

    a:first-child:nth-last-child(2):before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      border: 5px solid transparent;
      top: 45%;
      right: 10px;
    }

    li {

      > a:first-child:nth-last-child(2):before {
        border-left-color: $default-green-color;
        margin-top: -5px
      }

      &:hover {

        > a:first-child:nth-last-child(2):before {
          border: 5px solid transparent;
          border-right-color: $white-color;
          right: 10px;
        }
      }
    }

  }

  > li {

    &:hover {

      > ul {
        left: auto;
        padding-top: 5px  ;
        min-width: 100%;
      }

      > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-bottom-color: $white-color;
        margin-top:-5px
      }
    }

    li:hover > ul {
      left: 100%;
      top: -1px;
    }

    > a:first-child:nth-last-child(2):before {
      border-top-color: $default-green-color;
    }
  }
}